"Здравствуйте, #{@user.first_name}.
Пожалуйста, ПОДТВЕРДИТЕ ВАШУ РЕГИСТРАЦИЮ кликнув по ссылке и изменив пароль: 
= link_to(nil, activate_user_url(@user.id, :auth_token => @token.authentication_token))
Ссылка будет доступна в течении 1 часа. 
Спасибо. Центр обучения IT-специалистов"