"Чтобы завершить процедуру восстановления пароля, пожалуйста, перейдите по указанной ссылке: 
itc73.kaize.ru/account/password/edit?auth_token=#{@token}
Ссылка на восстановление пароля будет доступна только 1 раз.
Если вы не ожидали это письмо, просто проигнорируйте его.
Спасибо. Центр обучения IT-специалистов"