.page-header
  %h1= t('.index_header')

%table{:class => "table table-striped"}
  - @course.each do |n|
    %tr
      %td 
        = link_to n.name, course_path(n), class: 'btn btn-link'
      %td
        = link_to t('.join'), '#', class: 'btn btn-info'

.pagination
  = paginate @course