.page-header
  %h1= t('.header')
    
- course_kinds.each do |kind|
  %h4{class: 'org'}= kind

  .container
    - levels_for_kind(kind).each do |level|
      .span3
        .row-fluid
          =level
          - level.courses.each do |c|
            .row
              .helper-button
                %p{style:"background-color:##{level.color};", class: 'btn active', rel: 'popover', 
                  data: {:content => (c.note?) ? c.note : "", :placement => 'bottom'}}
                  =c.name
