.hero-unit
  %h1!= Sanitize.clean @page.name, Sanitize::Config::BASIC
  .lead
    != Sanitize.clean @page.body, Sanitize::Config::RELAXED
  = link_to t('.join'), '#', class: 'btn btn-large btn-success'

