.hero-unit
  %h1!= t '.hero_unit_title'
  .lead
    %p
      != t '.hero_unit_content'
  = link_to t('.join'), '#', class: 'btn btn-large btn-success'

!= Sanitize.clean @page.body, Sanitize::Config::RELAXED
