- Course::Kind.with_courses.each do |kind|
  .well
    %ul.nav.nav-list
      %li
        %h4= kind.name
      %li.divider
      - Course::Level.with_kind(kind).each do |level|
        %li.nav-header= level.name
        - level.courses.each do |c|
          - if c.allowed? 
            %li= link_to c.name, course_path(c)

