- course_kinds.each do |kind|
  .well
    %ul.nav.nav-list
      %li
        %h4= kind
      %li.divider
      - courses_for_level(kind).each do |level|
        - if header_needed?(level)
          %li.nav-header= level.name
        - level.courses.each do |c|
          - if c.published? && c.allowed? 
            - if item_needed?(c, level)
              %li= link_to c.name, course_path(c)

