%meta{charset: 'utf-8'}
%meta{content: 'initial-scale=1, maximum-scale=1, minimum-scale=0.5, user-scalable=1', name: 'viewport'}
%title= title

/[if lt IE 9]
  = javascript_include_tag 'http://html5shim.googlecode.com/svn/trunk/html5.js'

= csrf_meta_tags

