%ul.nav
  %li
    = link_to t('.about'), page_path(:about)
  %li
    = link_to t('.news'), news_index_path
  %li
    = link_to t('.schedule'), '#'
  %li
    = link_to t('.contacts'), contacts_pages_path

