development:
  adapter: postgresql
  encoding: unicode
  database: itc73_development
  pool: 5
  username: postgres
  password:

staging:
  adapter: postgresql
  encoding: unicode
  database: itc73_staging
  pool: 1
  timeout: 5000
  username: itc73_staging
  password:
  #host: localhost
  #port: 5432

test: &test
  adapter: postgresql
  encoding: unicode
  database: itc73_test
  pool: 5
  username: postgres
  password:

production:
  adapter: postgresql
  encoding: unicode
  database: itc73_production
  pool: 1
  timeout: 5000
  username: itc73_production
  password:
