= simple_form_for :session, url: session_path do |f|
  .row
    .span4
      = f.input :email, input_html: { class: 'input-xlarge', value: @email }
      = f.input :password, input_html: { class: 'input-xlarge' }
  .form-actions
    = f.button :submit, class: 'btn-primary'

