- content_for :sidebar do
  %p
    = link_to new_admin_page_path, class: 'btn btn-block btn-success' do
      %i.icon-plus
      = t('.new_page')
  %ul.nav.nav-tabs.nav-stacked
    - system_pages.each do |page|
        = link_to edit_admin_page_path(page) do
      %li
          = page.name
          .close
            %i.icon-pencil

