/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap_and_overrides
 *= require jquery.ui.datepicker
 */

.page-image {
  float: left;
  margin:0 20px 20px 0;
}

.hero-unit {
  padding: 40px 60px;
  background-color: #f5f5f5;
}

.helper-button {
  margin: 5px;
}

.org {
  text-align: center;
}

.no-hover:hover{
  text-decoration:none;
}

.org-image {
  margin: 10px
}

.label.notice {
  background-color: #3a87ad;
  margin-left: 13px;
}

.footer {
  margin-bottom: 50px; /* Отступ снизу */
}
