/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap_and_overrides
 *= require jquery.ui.datepicker
 */

.page-image {
  float: left;
  margin:0 20px 20px 0;
}

.hero-unit {
  padding: 40px 60px;
  background-color: #f5f5f5;
}

.helper-button {
  margin: 5px;
}

.course-kind {
  margin: 30px;
  text-align: center;
}

.nav-list li{
  display: block; 
  word-wrap: break-word; 
}

.org {
  text-align: center;
}

.no-hover:hover{
  text-decoration:none;
}

.org-image {
  margin: 10px
}

.label.notice {
  background-color: #3a87ad;
  margin-left: 13px;
}
.social-share-links {
  float: right;
  height: 36px;
  padding-top: 24px;
}

.social-share-links li {
  float: left;
  margin-left: 10px;
  height: 20px;
}

.counter-links { 
  padding-top: 22px;
  margin-left: 30px;
}
.counter-links li {
  display: inline;
  width: 31px;
  height: 31px;
  overflow: hidden;
}
.counter-links ul{
  display:inline;
  margin: 0;
}
.social-share-links ul {
  list-style:none;
  margin: 0;
}
.social-public-links ul {
  list-style: none;
  margin: 0;
}
.social-public-links list {
  float: left;
  margin-right: 10px;
}
.social-public-links li{
  font-size: 18px !important;
}

.footer {
  margin-bottom: 50px; /* Отступ снизу */
}
